@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*[dir="ltr"] body {
  font-family: "Inter", sans-serif;
}

*[dir="rtl"] body {
  font-family: "Cairo", sans-serif;
}

@layer components {
  .input {
    @apply w-full rounded-md border border-gray p-[10px] outline-none transition-all placeholder:text-sm focus:border-darkB;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween{
    @apply flex items-center justify-between;
  }
}

/* Add special border color to the active link. */
div.active,
.links-list > div > a.active {
  color: #fff;
  background-color: #02bec4;
}

a.active {
  color: #2d404e;
  background-color: #bcd2e0;
}

.Tabs a.active{
  @apply border-b-2 border-[#02BEC4] bg-transparent text-[#02BEC4]
}

/* making all svg icons begger */
svg {
  font-size: 24px;
  cursor: pointer;
}

label {
  color: #2d404e;
  font-weight: 500;
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #bcd2e0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #576e7e;
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  width: 10px;
}

/* Horizontal scrollbar */
*::-webkit-scrollbar:horizontal {
  height: 10px;
}
