@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .input {
    @apply mt-[7px] rounded-md border border-gray p-[10px] outline-none transition-all focus:border-darkB;
  }
}

/* Add special border color to the active link. */
a.active {
  color: #fff;
  background-color: #02bec4;
}

/* making all svg icons begger */
svg {
  font-size: 24px;
  cursor: pointer;
}

label {
  color: #2d404e;
  font-weight: 500;
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #bcd2e0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #576e7e;
}


.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}